.leaderboardPage {
    width: 100%;
}

.leaderboard {
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: #0156B3;
}

table {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
}

th {
    height: 30px;
    background-color: #0156B3;
    color: white;
}