.leaderboardPage {
    width: 100%;
}

.leaderboard {
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: #0156B3;
}

table {
    width: 100%;
    background-color: #f3f3f3;
}

th {
    height: 30px;
    background-color: #0156B3;
    color: white;
}

td {
    height: 35px;
    padding-left: 20px;
    text-align: left;
    border-bottom: 1px solid #E6E6E6;
}