ul {
  list-style-type: none;
}

a:link { 
  text-decoration: none; 
} 

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    padding: 15px 20px;
    background-color: #f6f8fc; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); 
    font-family: Arial, sans-serif;
}
.navbar-img{
  width: 32px;
  height: 32px;
  position: relative;
}

.navbar-img, 
.astext {
  display: inline-block;
  font-family: arial;
  vertical-align: middle; 
}
.admin-nav{
  min-height: 91vh;
  width: 250px;
  background-color: var(--background-color2);
  position: relative;
  top: 0px;
  left: 00;
  box-shadow: 1px 1px 10px rgba(90, 77, 158, 0.825);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px 0px 10px;
}
.navbar-button {
    color: #0056b3;
    background:none;
    border:none;
    margin:0;
    padding: 8px;
    cursor: pointer;
    font-size: 15px;
}

.navbar-button:hover{
    color: #00158c;
}

.navbar-text{
    color: #0056b3;
    position: absolute;
    left: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.option-menu{
    position: absolute;
    top: 50%;

}
.rbc-btn-group{
    color: #0056b3;
}
.option-menu{
    top: 11.5%;
    left: 15%;
    position: absolute;

}
.rbc-header{
    color: white;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px !important;
    background-color: #0056b3;
}

.rbc-toolbar {
    .rbc-button-group {
      button {
        background-color: #007bff;
      }
    }
  }

.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    top: 35vh;
    left: 40.5vw;
    position: absolute;
}

.signup-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  top: 35vh;
  left: 40.5vw;
  position: absolute;
}

.login-button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  left: 0vw;
}

.login-button:disabled {
  cursor: default;
}

.login-button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.signup-button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #fdfdfd;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(89, 89, 111, 0.1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .1) 0 1px 1px 0;
  box-sizing: border-box;
  color: #2674d3;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  left: 0vw;
}

.signup-button:disabled {
  cursor: default;
}

.signup-button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
.input-style {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
  }
  
.input-style:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.error-text{
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.profile-img{
  width: 2vw;
  height: 4vh;
  position: relative;
  padding: 1%;
}

.profile-text{
  color: #0056b3;
}

.profile-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  top: 35vh;
  left: 42vw;
  position: absolute;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.admin{
  width: 50vw;
  display: inline-grid;
  align-content: space-evenly;
  align-items: stretch;
  justify-items: end;
  top: 40vh;
  left: 8vw;  
  position: absolute;
}

.admin-button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s, box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  left: -3vw;
  position: relative;
}

.astext{
  color: #1768bf;
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px 0 20px;
  gap: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.astext:hover{
  border-left: 5px solid #a2a2a2;
  color: #f6f8fc;
  background-color: #3351c9;
  cursor: pointer;
}