.leaderboardPage {
    width: 100%;
}

.leaderboard {
    width: 70%;
    margin: 0 auto;
}

h1 {
    color: #0156B3;
}

table {
    width: 100%;
    background-color: #f3f3f3;
    border-collapse: collapse;
}

th {
    box-sizing: border-box;
    padding-left: 20px;
    height: 30px;
    background-color: #0156B3;
    color: white;
    text-align: left;
}

td {
    box-sizing: border-box;
    font-size: 1.2em;
    height: 40px;
    padding-left: 20px;
    text-align: left;
    border-bottom: 1px solid #E6E6E6;
}