.rbc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.btn-group button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.rbc-btn-group button:hover {
    background-color: #0056b3;
    color: white;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popup h2 {
    margin-bottom: 20px;
}

.popup form div {
    margin-bottom: 10px;
}

.popup label {
    display: flex;
    margin-bottom: 5px;
    text-align: center;
    position: relative;
}

.popup-form {
    display: flex;
    justify-content: space-around;
}

.popup input {
    width: calc(100% - 80px);
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.popup button[type="submit"]:hover {
    background-color: #0056b3;
}


.rbc-agenda-view table thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}
.rbc-agenda-view table tbody tr {
    border-bottom: 1px solid #ddd; 
    background-color: #f9f9f9; 
    display: table-row;
}

.rbc-agenda-view table tr {
    align-items: center;
    display: flex;
}
  
.rbc-agenda-view table tbody tr:hover {
    background-color: #e3f2fd; 
    cursor: pointer;
}
  
.rbc-agenda-time-cell {
    font-weight: bold;
    color: #333; 
    width: 20vw;    
}

.rbc-agenda-date-cell {
    font-weight: bold;
    color: #333; 
    width: 20vw;
}
  
.rbc-agenda-event-cell {
    color: #0056b3;
    font-weight: bold;
    width: 20vw;
}

.rbc-agenda-table{
    width: 100%;
}

.rbc-agenda-view table {
    table-layout: auto;
    width: 100%;

}

