.rbc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.btn-group button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.rbc-btn-group button:hover {
    background-color: #0056b3;
    color: white;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Style for the form */
.popup-form {
    background-color: white;
    /* Optional: add a background color to the form */
    padding: 20px;
    /* Optional: padding inside the form */
    border-radius: 10px;
    /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: soft shadow around the form */
    display: flex;
    flex-direction: column;
    /* Stack form elements vertically */
    gap: 10px;
    /* Space between form elements */
    width: auto;
    /* Adjust width of form */
}

/* Input and label styling */
.input-style {
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 93%;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Optional: Style for the datetime inputs */
.popup-date input {
    padding: 8px;
}

.popup-date {
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    width: 93%;
}

.rbc-agenda-view table thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

.rbc-agenda-view table tbody tr {
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    display: table-row;
}

.rbc-agenda-view table tr {
    align-items: center;
    display: flex;
}

.rbc-agenda-view table tbody tr:hover {
    background-color: #e3f2fd;
    cursor: pointer;
}

.rbc-agenda-time-cell {
    font-weight: bold;
    color: #333;
    width: 20vw;
}

.rbc-agenda-date-cell {
    font-weight: bold;
    color: #333;
    width: 20vw;
}

.rbc-agenda-event-cell {
    color: #0056b3;
    font-weight: bold;
    width: 20vw;
}

.rbc-agenda-table {
    width: 100%;
}

.rbc-agenda-view table {
    table-layout: auto;
    width: 100%;

}